.App {
  background-color: #f4f4f4;
  height: max-content;
}

/*--- post ---*/
.header {
  background-image: url("static_img/header_img.jpg");
  background-size: cover;
  background-position: 25% 20%;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.logo{
  width: 400px;
  height: auto;
}

  /*--- general ---*/

.row{
  padding: 0;
}

.col{
  margin: 1rem ;
  padding: 0;
}

.comp-card{
  padding: 2rem;
  background-color: white;
}

.prim-btn{
  background-color:#f27623;
  color: white;
  border: 2px solid #f27623 ;
  padding: 0.5rem 4rem;
  border-radius: 50px;
}

.prim-btn:hover, .prim-btn:active, .prim-btn:focus{
  background-color:white !important;
  color: #f27623 !important;
  border: 2px solid #f27623 !important;
  outline: none !important;
  box-shadow: none !important;
}

.postForm{
  background-color: #fafafa;
  border: 0;
}

.postForm:active, .baseForm:focus {
  background-color:white !important;
  border: 1px solid #f27623 !important;
  outline: none !important;
  box-shadow: none !important;
}

.labelPostForm{
  font-weight: bold;
}

/*--- Card ---*/
.card {
  border: 0;
}

.card-img{
  object-fit: cover;
  height: 100px;
}

.card-post{
  font-size: 0.8rem ;
  width: 13rem;
  -webkit-box-shadow: 2px 3px 5px 2px rgba(0,0,0,0.3);
  -moz-box-shadow: 2px 3px 5px 2px rgba(0,0,0,0.3);
  box-shadow: 2px 3px 5px 2px rgba(0,0,0,0.3);
}

.card-img-overlay{
  justify-content: space-between !important;
  color: white;
  display: flex;
  padding: 1.25rem;
  top: 45px;
  font-size: 0.9rem;
  font-weight: bold;
}

.card-body{
  position: relative;
}

.card-col{
  margin-bottom: 1.5rem;
  padding: 0;
}

.card-row{
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  width: 90%;
  justify-content: space-between !important;
}


@media (max-width: 1200px) {
  .card-row{

  }
  .card-post{
    width: 10rem;
  }
  .card-img{
    object-fit: cover;
    height: 120px;
  }
  .card-img-overlay {
    top: 65px
  }
}

@media (max-width: 990px) {
  .card-post{
    width: 100%;
  }
  .card-col{
    max-width: 100%;
  }
  .card-row{
    margin: 0 auto;
    display: block;
  }
}

@media (max-width: 450px){
  .logo{
    width: 250px;
  }
  .header{
    height: 150px;
  }
}
